/* makes the whole page usable, eliminates margins on the page */

* {
    margin: 0;
    padding: 0;
  }


header h1 {
    color: #fce138;
    font-size: 36px;
    font-weight: bold;
    margin: 0px;
    display: inline;
}

/* Easy Comments Applied */

body {
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

header {
    padding: 20px 35px;
    background-color: #39a6b2;
    margin: 0px;
}

header a {
    text-decoration: none;
    color: #fce138;
}


header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
  }